@font-face {
    font-family: "Dina";
    src: url("./resources/font/dinaRemasterii-01_1-webfont.woff2") format("woff2"),
    url("./resources/font/dinaRemasterii-01_1-webfont.woff") format("woff"),
    url("./resources/font/DinaRemasterII-01.ttf") format("truetype");
}

body {
    font-family: "Dina", serif;
}

.root {
    width: 100%;
    background: #dcdee5;
    font-family: "Dina", serif;
}