@font-face {
    font-family: "Dina";
    src: url("../../resources/font/dinaremasterii-01_1-webfont.woff2") format("woff2"),
    url("../../resources/font/dinaremasterii-01_1-webfont.woff") format("woff"),
    url("../../resources/font/DinaRemasterII-01.ttf") format("truetype");
}

.centerContent {
    text-align: center;
    align-content: center;
}

.leftAlignContent{
    text-align: left;
}

.Contact {
    background-color: #dcdee5;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 30px;
    font-family: "Arial", sans-serif;
}
