.square1 {
    padding-top: 10px;
    height: 35px;
    width: 35px;
    background-color: green;
}

.square2 {
    padding-top: 10px;
    height: 35px;
    width: 35px;
    background-color: green;
}

.square3 {
    padding-top: 10px;
    height: 35px;
    width: 35px;
    background-color: green;
}